<div class="m-5 flex justify-center place-items-center hidden sm:block"> 
    <h1 class="text-slate-800">{{ entry.titelDerWebsite }}</h1>
</div>

{# bg-cover style="background-image: url('{{image.url}}');" #}