{% extends "index" %}

{% block meta %}

    	{# META TAGS #}
		{% set pageTitle = entry.title|default('Home') ~ " | " ~ seo.HTMLtitle  %}
		{% set pageAuthor  = seo.author | default('') %}

		{% set pageDescription  = seo.description | default('Informationsportal') %}

		<title>{{ pageTitle }}</title>
		<meta name="description" content="{{ pageDescription }}">
		<meta name="author" content="{{ pageAuthor }} mittels Knappe 1A productions CMS.">

{% endblock %}

{% block content %}

    <div class="px-[5vw] sm:px-[8vw] py-[2vh]">

        {# Include the optional heading #}
        {% if header.ueberschriftAktiv %}
            <div class="flex justify-center place-items-center"> 
                <h1 class="text-slate-800">{{ header.titelDerWebsite }}</h1>
            </div>
        {% endif %}

        {# Include the optional alert #}
        <div> {% include ["components/globals/alert"] ignore missing %} </div>

        {# Include the optional teaser boxes #}
        <div class="flex justify-center"> {% include "components/globals/teaser" ignore missing %} </div>

        {# Include the optional info boxes #}
        <div> {% include "components/globals/faktenbox" ignore missing %} </div>

        {# Include the newsfeed #}
        <div> {% include "components/newsfeed" ignore missing %} </div>

    </div>

{% endblock %}