{% if alert.activated %}

    <div class="rounded-xs my-4 p-4 shadow-sm" style="background-color: {{alert.hintergrundfarbeElement}}">
        <h3>{{alert.titelGlobals}}</h3>
        <p>{{alert.ausfuehrlicherText}}</p>
    </div>

{% endif %}