{% if faktenboxA.activated %}

    <div class="bg-neutral-200 rounded-xs my-4 p-4 shadow-sm">
        <h3>{{faktenboxA.titelGlobals}}</h3>
        <p>{{faktenboxA.ausfuehrlicherText}}</p>
    </div>

{% endif %}

{% if faktenboxB.activated %}

    <div class="bg-neutral-200 rounded-xs my-4 p-4 shadow-sm">
        <h3>{{faktenboxB.titelGlobals}}</h3>
        <p>{{faktenboxB.ausfuehrlicherText}}</p>
    </div>

{% endif %}