{% if faktenboxA.activated %}

    <div class="bg-neutral-200 rounded-xs my-4 p-4 shadow-sm md:text-lg">
        <h3>{{faktenboxA.titelGlobals}}</h3>
        <p class="">{{faktenboxA.ausfuehrlicherText}}</p>
    </div>

{% endif %}

{% if faktenboxB.activated %}

    <div class="bg-neutral-200 rounded-xs my-4 p-4 shadow-sm md:text-lg">
        <h3>{{faktenboxB.titelGlobals}}</h3>
        <p class="">{{faktenboxB.ausfuehrlicherText}}</p>
    </div>

{% endif %}