<header>

    <a href="{{siteUrl}}">
	    <div class="m-2 flex justify-center items-center"><img src="{{header.logo.one().url}}" alt="{{siteName}}" class="w-2/3 sm:w-1/4 justify-center"></div>	
    </a>

    <div class="m-5 flex justify-center place-items-center"> 
        <h1 class="text-slate-800">{{ header.titelDerWebsite }}</h1>
    </div>

</header>