<header>

    <a href="{{siteUrl}}">
	    <div class="mt-2 flex justify-center items-center"><img src="{{header.logo.one().url}}" alt="{{siteName}}" class="w-2/3 sm:w-1/4 justify-center"></div>	
    </a>

</header>